@model IEnumerable<CustmeWebApp.Models.Project>

@{
    ViewData["Title"] = "Проєкти";

    string HasImage(Project project)
    {
        if (project.ImagesUrl != "" && project.ImagesUrl != null)
        {
            return "fa-solid fa-check";
        }
        else
        {
            return "fa-solid fa-x";
        }
    }
}

<h1>Проєкти</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Додати проєкт</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Зображення
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <i class="@HasImage(item)"></i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>
            <td>
                <div class="btn-group">
                        
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="fa-solid fa-circle-info"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                </div>                
            </td>
        </tr>
}
    </tbody>
</table>
