@model CustmeWebApp.Models.Project
<head>
    <meta name="description" content="Отримайте індивідуальні послуги кастомізації одягу та аксесуарів з швидкою доставкою. Унікальні вироби та професійний підхід.">
</head>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-9">
            <div class="product-main-img">
                <img src="@Model.ImagesUrl" style="width: 100%; height: 100%;" class="img-fluid" alt="@Model.Title" />
            </div>
            <section сlass="mt-4">
                <h2 class="product-title">@Model.Title</h2>
                <p class="product-description">
                    @Model.Description
                </p>
                <div class="row">
                    <div class="col-6">
                        @Model.Service?.Name
                    </div>
                    <div class="col-6">
                        Створено @Model.DateCompleted?.ToString("d")
                    </div>
                </div>
            </section>
            <section сlass ="mt-4">
                <div class="row">
                    <div class="col-8">
                        <h2 class="product-title">
                            Про послугу @Model.Service?.Name
                        </h2>
                        <p class="product-description">                            
                            @Model.Service?.Description
                        </p>
                    </div>
                    <div class="col-4">
                        <img src="@Model.Service?.ImageUrl" class="img-fluid rounded shadow" style="width: 100%;height: 100%;" alt="@Model.Service?.Name" />
                    </div>
                </div>
            </section>              
            <section style="margin-top: 160px;">
                <h2>Схожі проекти</h2>
                @{
                    var similarProjects = ViewBag.SimilarProjects as List<CustmeWebApp.Models.Project>;
                }
                @if (similarProjects != null && similarProjects.Any())
                {
                    @Html.Partial("_SimilarProjectsPartial", similarProjects)
                }
                else
                {
                    <p>Схожі проекти не знайдено.</p>
                }
            </section>

        </div>
        <!-- Right sidebar -->
        <div class="col-lg-3 sticky-column">
            <h1 class="product-title">@Model.Title</h1>
            <p class="product-price">@Model.Price?.ToString("C")</p>
            <p>@Model.Service?.Name @Model.Service?.Type</p>

            <div class="button-container">
                <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id"
                   class="btn btn-primary btn-lg btn-text-add-to-cart">
                   Додати в кошик
                </a>               
                <a href="https://www.instagram.com/custme/" class="btn btn-secondary btn-lg mt-2 btn-contact-me" target="_blank">
                    Зв'язатися зі мною
                </a>
                <span>безкоштовна доставка замовлень на суму від 2500грн</span>
            </div>
        </div>

    </div>
</div>

<!-- Додаткові стилі -->
<style>
 
</style>