@model CustmeWebApp.Models.Cart

<h1>Кошик</h1>

@if (Model.CartItems.Count > 0)
{
    <table class="table">
        <thead>
            <th></th>
            <th>Назва проєкту</th>
            <th>Ціна</th>
            <th>Кількість</th>
            <th>Видалити</th>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                var itemsTotal = item.Project.Price * item.Quantity;

                <tr>
                    <td>
                    <a  asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.Project.ImagesUrl" style="height:4em;">
                    </a>
                    </td>
                    <td>
                    <a  asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id">
                        @item.Project.Title
                    </a>
                    </td>
                    <td>
                        @itemsTotal.Value.ToString("C")
                    </td>
                    <td>
                        <a asp-controller="Cart" asp-action="DecreaseQuantity" asp-route-id="@item.Project.Id">
                            <i class="fa-solid fa-minus"></i></a>
                        <span class="badge badge-pill badge-primary" style="background-color: dodgerblue; color: white;"> @item.Quantity </span>
                        <a asp-controller="Cart" asp-action="IncreaseQuantity" asp-route-id="@item.Project.Id">
                            <i class="fa-solid fa-plus"></i></a>                        
                    </td>
                    <td>
                        <a  asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.Project.Id"
                            class="text-danger"><i class="fa-solid fa-xmark"></i></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td class="text-right">
                    <strong>Total:</strong>
                </td>
                <td>
                    <strong>@Model?.GetCartTotal().Value.ToString("C")</strong>
                </td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    <a asp-controller="Cart" asp-action="ClearCart">
        <div class="btn btn-danger float-end mr-5">
        <i class="fa-solid fa-trash-can"></i> Очистити кошик</div> </a>
}
else
{
    <h3>Кошик порожній</h3>
}