@model Order

<h1>Дякую за замовлення!</h1>

<h5 class="mt-5">Номер замовлення: @Model.Id</h5>

<table class="table">
    <thead>
    <th></th>
    <th>Назва проєкту</th>
    <th>Ціна</th>
    <th>Кількість</th>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            var itemsTotal = item.Project.Price * item.Quantity;

            <tr>
                <td>
                    <a asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.Project.ImagesUrl" style="height:4em;">
                    </a>
                </td>
                <td>
                    <a asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id">
                        @item.Project.Title
                    </a>
                </td>
                <td>
                    @itemsTotal.Value.ToString("C")
                </td>
                <td>
                    @item.Quantity
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
            <td></td>
            <td class="text-right">
                <strong>Total:</strong>
            </td>
            <td>
                <strong>@Model?.TotalPrice.ToString("C")</strong>
            </td>
            <td></td>
    </tfoot>
</table>